# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# 过滤掉不想要文件和文件夹
*.exe
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.ipch
Debug/
.vs
.vscode
Release/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/C/byte homework/byte homework/text.c
/C/byte homework/byte homework
/C/22.10.29 function_2/text.c
/C/22.10.29 function_2
/C/22.10.23 branch and circulate_1/text.c
/C/22.10.23 branch and circulate_1
/C/22.10.21 structure_1/text.c
/C/22.10.21 structure_1
/C/22.10.19 address_1/text.c
/C/22.10.19 address_1
/C/22.10.17 operator_1/text.c
/C/22.10.17 operator_1
/C/22.10.17 keyword_1/text.c
/C/22.10.17 keyword_1
/C/22.10.17 character string_1/text.c
/C/22.10.17 character string_1
/C/22.10.16 sizeof_1/text.c
/C/22.10.16 sizeof_1
/C/22.10.16 constant_1/text.c
/C/22.10.16 constant_1
/C/22.10.13 function_1/text.c
/C/22.10.13 function_1
/C/22.10.13 domain_1/text.c
/C/22.10.13 domain_1/add.c
/C/22.10.13 domain_1
/C
